@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.App {
  font-family: 'Lato';
}

.container {
  padding-left: 64px !important;
  padding-right: 64px !important;
}

.MuiBox-root {
  box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  .container {
    padding-left: 25px !important;
    padding-right: 25px !important;
  } 
}
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}